<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tripster</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
    
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
   
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tripster</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="user-menu">
          <ul class="nav navbar-nav">
          
        <!--  <% if (currentUser) {%>
            <li><a href="/logout">Logout <%= currentUser.local.email %></a></li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li> 
          <% } %> -->
        </ul>  
        <ul class ="nav navbar-nav navbar-right">
           <% if (currentUser) {%>
            <li><a href="/secret">Secret</a></li>
            <li><a href="/logout">Logout <%= currentUser.local.nameFirst %></a></li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li> 
          <% } %>
          </ul>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <main class="container">
  