<% include ./partials/header.ejs %>
<h2>This page can only be accessed by authenticated users</h2>	
<div id='map' style='width: 800px; height: 800px;'></div>

<div id='map1'></div>
<pre id='info'></pre>
<!-- <script src="../scripts/app.js"></script> -->

<div class="todoList">
<h2>TodoList</h2>

    <form id="placeForm" method="post"  action="/places" > <!--method="post"  action="/places"-->
        <div class="form-group">
            <label for="Place">Place</label>
            <input type="text" class="form-control" id="place" placeholder="Enter Place" name="place">
            <small id="" class="form-text text-muted">Try a place you've never seen.</small>
        </div>
    
        <div class="form-check">
            <label class="form-check-label" for="exampleCheck1">Been There Already?</label>
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="beenThere">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<h3 class="list"></h3>
    
</div>
<script src="../scripts/app.js"></script>
<% include ./partials/footer.ejs %>