<% include ./partials/head.ejs %>
<div class="container-fluid bg-1">
  <div class="formfield bg-2">
      <h2>Sign Up</h2>
      <hr>
      <% if (message.length > 0 ) { %>
    <div class="alert alert-danger"><%= message %></div> 
    <% }  %>
  
    <form method="post" action="/signup">
    <div class="form-group">
        <label for="nameFirst">First Name</label>
        <input class="form-control" type="text" name="nameFirst" id="nameFirst" required>
      </div> 

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" required>
      </div>

      <div class="form-group">
        <label for="email">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
      </div>

      <input class="btn btn-default" type="submit">
    </form>
    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
      <!-- <p>Or go <a href="/">home</a>.</p> -->
  </div>
</div>
<% include ./partials/foot.ejs %>