/* Bootstrap forced me to overide their precedence by combining classes */
body { 
    margin:0; 
    padding:0; 
    background: #228ED6;
}

#jumbotron{
    background-image: url('https://www141.lunapic.com/do-not-link-here-use-hosting-instead/151623694167527373?9129763567');
    background-size: cover;
    height: 100%;}
}

a{
    color: #D6EAF7;
}

.btn-default {
    color: #333;
    background-color: #D6EAF7;
    border-color: #ccc;
}

.navbar-default{
    background: #0D344E;
    color: #D6EAF7;
}
.navbar-brand{
    color: #D6EAF7;
}
.navbar-default .navbar-brand {
    color: #D6EAF7;
}

.navbar-default .navbar-nav>li>a{
    color: #D6EAF7;
}

h1{
   color: #0D344E
}

.test{
   text-align: center;
   vertical-align: middle;
}

.subheader{
    text-align: center;
}

.clear {
    clear:both;
    line-height:0;
}

#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    width: 300px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

#map canvas {
    cursor: crosshair;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

#info {
        display: block;
        /* position: relative; */
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        /* color: #222; */
        background: rgb(255, 255, 255);
    }
.break{
    display: block;
}
  